FORMAT: 1A
HOST: http://luffy.ee.ncku.edu.tw:30087/api/v1

# oldPetApi

## login [/users/login]


### login [POST]
description is none error (error msg : by apier)

+ Request (x-www-form-urlencoded)

    驗證失敗
    
    + Headers

    + Body
    
            {
                "erroMessage": "title是必填欄位"
            }
            
+ Response 200 (text/html)

    登入成功的畫面
    
    + Headers

    + Body
    
            "<!DOCTYPE html>\n<html>\n    <head>\n        <title>Welcome</title>\n        <link href=\"/stylesheets/bootstrap.css\" rel=\"stylesheet\">\n        <link href=\"/stylesheets/style.css\" rel=\"stylesheet\">\n    </head>\n    <body>\n        <header>\n            <nav role=\"navigation\" class=\"navbar navbar-expand-lg sticky-top navbar-dark bg_6AB4CD\">\n                <div class=\"navbar-header\">\n                    <a href=\"#\" class=\"navbar-brand\">NodeAuth</a>\n                    <button type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarSupportedContent\" aria-controls=\"navbarSupportedContent\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\">\n                        <span class=\"navbar-toggler-icon\"></span>\n                    </button>\n                </div>\n                <div class=\"navbar-collapse collapse\">\n                    <ul class=\"navbar-nav mr-auto\">\n                        <li class=\"nav-item active\">\n                            <a href=\"/\" class=\"nav-link\">Members</a>\n                        </li>\n                    </ul>\n                    <ul class=\"nav navbar-nav navbar-right\">\n                        <li class=\"nav-item\">\n                            <a href=\"/users/logout\" class=\"nav-link\">Logout</a>\n                        </li>\n                    </ul>\n                </div>\n            </nav>\n        </header>\n        <div class=\"container\">\n            <div id=\"messages\">\n                <ul class=\"success\">\n                    <li>You are now logged in</li>\n                </ul>\n            </div>\n            <h1>Member Area</h1>\n            <p>Welcome to the members area</p>\n        </div>\n        <section class=\"container\">\n            <h3 class=\"display_none\">user?_{ _id: 6063e1121103c03cc0ad6e4a,\n  name: '林佳妮',\n  email: 'nini@mail.com',\n  username: 'nini',\n  password:\n   '$2a$10$17VcnZirbSdF81lUmjtIpeHRaY6pRe/C2bnvrjhgTgnJkYV7lVddS',\n  profileimage: '5e707df2c9ca3be2251e5e5f710580a1',\n  __v: 0 }</h3>\n        </section>\n        <script src=\"https://code.jquery.com/jquery-1.12.4.min.js\"></script>\n        <script src=\"/javascripts/bootstrap.js\"></script>\n    </body>\n</html>"
    
## register [/users/register]


### register [POST]
description is none error (error msg : by apier)

+ Request (application/json)



+ Response 201 (application/json)


## logout [/users/logout]


### logout [GET]
description is none error (error msg : by apier)

+ Response 201 (application/json)


## index [/]


### index [GET]
description is none error (error msg : by apier)

+ Response 201 (application/json)

### 新增一筆TODO [POST]

用來新增一筆TODO

+ Request (application/json)

        {
            "title": "記得要買牛奶"
        }

+ Response 201 (application/json)

    + Headers

            Location: /api/todo/4

    + Body

            {
                "id": 4,
                "title": "記得要買牛奶"
            }
            
+ Response 400 (application/json)

    驗證失敗

    + Body
    
            {
                "erroMessage": "title是必填欄位"
            }