extends layout

block content_head
    title ga
    // meta
    meta(name='author' content='UIDD2021ElderlyApp')
    meta(name='keywords' content='test, oldFriend')
    // TODO: fill in keywords
    meta(name='description' content='for tset')
    meta(charset='utf8')
    // ico
    link(rel='icon' href='img/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
    // bootstrap
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css')
    // justifiedGallery
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/css/justifiedGallery.min.css')
    // css
    link(rel='stylesheet' href='./modular_folder/ga/index.css')
    link(rel='stylesheet' href='./modular_folder/ga/colorbox.css')

block content_body
    header
    #mygallery(style='position:absolute;')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075186162.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075186162_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075193806.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075193806_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075200599.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075200599_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075215564.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075215564_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075224417.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075224417_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075231657.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075231657_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075239678.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075239678_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075247822.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075247822_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075255235.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075255235_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075262932.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075262932_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075271139.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075271139_tb.jpg')
      a(href='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075279908.jpg')
        img(alt='Title 1' src='https://luffy.ee.ncku.edu.tw:36443/app/img/?title=43137057520153061623075279908_tb.jpg')
    #label.button(style='opacity: 1;') 圖片選擇器
    #quit.button(style='opacity: 1;') 離開
    #confirmed_forwarding_path(style='display: none;' src='http://andythebreaker.me')
    #allpicarray(style='display: none;')
    footer
      .a_bunch_of_js
        // js
        // jquery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        //
          script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"
          integrity="sha512-DAVSi/Ovew9ZRpBgHs6hJ+EMdj1fVKE+csL7mdf9v7tMbzM1i4c/jAvHE8AhcKYazlFl7M8guWuO3lDNzIA48A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script
        // bootstrap
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js')
        // justifiedGallery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/js/jquery.justifiedGallery.min.js')
        script(src='./modular_folder/ga/index.js')
        script(src='./modular_folder/ga/colorbox_mod.js')
