extends layout

block content_head
    title ga
    // meta
    meta(name='author' content='UIDD2021ElderlyApp')
    meta(name='keywords' content='test, oldFriend')
    // TODO: fill in keywords
    meta(name='description' content='for tset')
    meta(charset='utf8')
    // ico
    link(rel='icon' href='img/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
    // bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    // justifiedGallery
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/css/justifiedGallery.min.css')
    // css
    // link rel="stylesheet" href="./index.css"

block content_body
    header
    #mygallery
      a(href='./modular_folder/ga/im2 (1).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (1).jpg')
      a(href='./modular_folder/ga/im2 (2).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (2).jpg')
      a(href='./modular_folder/ga/im2 (3).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (3).jpg')
      a(href='./modular_folder/ga/im2 (4).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (4).jpg')
      a(href='./modular_folder/ga/im2 (5).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (5).jpg')
      a(href='./modular_folder/ga/im2 (6).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (6).jpg')
      a(href='./modular_folder/ga/im2 (7).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (7).jpg')
      a(href='./modular_folder/ga/im2 (8).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (8).jpg')
      a(href='./modular_folder/ga/im2 (9).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (9).jpg')
      a(href='./modular_folder/ga/im2 (10).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (10).jpg')
      a(href='./modular_folder/ga/im2 (11).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (11).jpg')
      a(href='./modular_folder/ga/im2 (12).jpg')
        img(alt='Title 1' src='./modular_folder/ga/im2 (12).jpg')
    footer
      .a_bunch_of_js
        // js
        // jquery
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        // bootstrap
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
        // bootstrap
        script(src='https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/js/jquery.justifiedGallery.min.js')
        script(src='./modular_folder/ga/index.js')
