doctype html
html
  head
    link(rel='apple-touch-icon' sizes='144x144' href='../modular_folder/login/image/loading.svg')
    link(rel='manifest' href='../manifest.json')
    block content_head
  body
    header
      block content_header
    block content_body
    footer
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
      button#snap_shoot_screen snap_shoot_screen
      script(src='../javascripts/snapshoot_layout.js' type="module")
      block content_footer