extends layout

block content_head
    meta(charset='utf8')
    title login
    link(href='../modular_folder/login/login.css' rel='stylesheet' type='text/css')

block content_body
    #loading_logo
      img(src='../modular_folder/login/image/loading.svg')
    #login_page
      // width="71.43%"
      img(src='../modular_folder/login/image/logo.svg' style='position:relative; height:30vh; top: 0%;')
      #gray_block
        .login_bar.disp_for_mod
          img(src='../modular_folder/login/image/login_bar.svg')
          input(type='text' name='user_name' placeholder='名稱' onfocus="this.placeholder = ''" onblur="this.placeholder = '名稱'")
        .login_bar
          img(src='../modular_folder/login/image/login_bar.svg')
          input(type='text' name='account' placeholder='帳號' onfocus="this.placeholder = ''" onblur="this.placeholder = '帳號'")
        .login_bar
          img(src='../modular_folder/login/image/login_bar.svg')
          input(type='text' name='password' placeholder='密碼' onfocus="this.placeholder = ''" onblur="this.placeholder = '密碼'")
        .login_bar.disp_for_mod
          img(src='../modular_folder/login/image/login_bar.svg')
          input(type='text' name='password_confirm' placeholder='再輸入一次密碼' onfocus="this.placeholder = ''" onblur="this.placeholder = '再輸入一次密碼'")
        .login_bar
          // value=""
          button#login_button
            img(src='../modular_folder/login/image/login_button.svg' width='100%' z-index='3')
            #login_button_txt_fix(style='color:#FEFEFE;') 註冊
      #community_login
        img#fb_login(href="/auth/facebook" src="../modular_folder/login/image/facebook_login.svg" border="0" alt="" height="100%")
        #line_login
          img(src='../modular_folder/login/image/line_login.svg' width='100%' height='100%')
      #cre_acc_log_fk_bton
        #cre_acc_log_fk_bton_inner_txt 帳號登入
    #status
    button#disp_mod(style="display:none;") #{ do_you_want_to_log_in_or_register }
    //button#test_err_msg test_err_msg
    button#logout log_out
    #picture(style="display:none;")
    #fb-root(style="display:none;")
    //form(method='post', action='/timedoutdoorlock/verifythefirstnumber')
    //,style="display:none;"
    //input.btn.btn-primary(type='submit', name='submit', value='thisisavaluebutitseemstobeignored')
    a#passworddriventimeoriented(style="display:none;") #{ successes }
    button#add_an_user add_an_user
    button#add_an_user2 add_an_user2
    input#fileinput(type='file')
    input#btnLoad(type='button' value='Load' onclick='handleFileSelect();')
    #editor
    #editor_base64_fin -1
    //Repealed
      form(method='post', action='/users/register', enctype='multipart/form-data')
        .form-group
        label Name
        input.form-control(name='name', type='text', placeholder='Enter name')
        .form-group
        label Email   
        input.form-control(name='email', type='email', placeholder='Enter email')
        .form-group
        label Username
        input.form-control(name='username', type='text', placeholder='Enter username')
        .form-group   
        label Password
        input.form-control(name='password', type='password', placeholder='Enter password')
        .form-group   
        label Confirm Password
        input.form-control(name='password2', type='password', placeholder='Confirm password')
        .form-group     
        label Profile Image
        input.form-control(name='profileimage', type='file')
        .form-group
        input.btn.btn-primary(type='submit', name='submit', value='Register')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js')
    script(src='../modular_folder/login/login.js')
    script(src='../modular_folder/login/login_data.js')
    //script(src='../modular_folder/login/file.js')