html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon' href='../modular_folder/login/image/loading.svg')
    link(rel='apple-touch-icon' href='../modular_folder/login/image/weblogo_sq.png')
    link(href='../modular_folder/mapview/map2.css' rel='stylesheet' type='text/css')
  body
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
    style.
      html,
      body {
      width: 100%;
      height: 100%;
      font-size: 50px;
      }
      #map {
      z-index: 1;
      top: 0vh;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      }
    #waiting_block
      #waiting_gray
      #waiting_logo
        img(src='../modular_folder/login/image/loading.svg' height='100%')

    form#ajax-form
      button#exit_button.button(type='button' onclientclick='return false;')
        // <a href=https://luffy.ee.ncku.edu.tw:38443/ts/home>
        //img(src='../modular_folder/mapview/cross.svg')
        // </a>
    form#ajax-form2
      button#snap_shoot_screen(type='button' onclientclick='return false;')
        img#camera(src='../modular_folder/mapview/camera.svg')
    #hungun
      #distance
        bl#info
        div(style='display:none')
          bl#snap_shoot_finish
        #distance2
          font#info3(style='font-size: 8vw') 
          //face='微軟正黑體' 
    #map
    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
    script(language='JavaScript').
      function ShowTime() {
      if (document.getElementById("info").hidden === false)
      var NowDate = new Date();
      var s = NowDate.getSeconds();
      //document.getElementById('info2').innerHTML = s + 's';
      //setTimeout('ShowTime()', 1000);//decide max time
      }
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(type='module').
    //
    footer
      script(type='text/javascript').
        var jQuery_3_6_0 = $.noConflict(true);
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
      script(src='../javascripts/snapshoot_layout.js' type='module')
      script(src='https://makinacorpus.github.io/Leaflet.GeometryUtil/leaflet.geometryutil.js')
