doctype html
extends layout

head
  meta(charset='utf-8')
  title Hello World
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js')

div#ThisIsAIdForYouToAppend

script(type='text/javascript' src='pixi_test/index.js')
