extends layout

block content_head
    title feed
    // meta
    meta(name='author' content='UIDD2021ElderlyApp')
    meta(name='keywords' content='test, oldFriend')
    // TODO: fill in keywords
    meta(name='description' content='for tset')
    meta(charset='utf8')
    // ico
    link(rel='icon' href='img/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
    // bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    // css
    link(rel='stylesheet' href='../modular_folder/pure_txt_no_gui/index.css')
block content_body
    header
      #dont_show_this_in_published_client
        .field_battle_title 9.餵養
        .field_battle_title 經驗值_(文字標籤)
        #show_exp_num
        .field_battle_title 食物值_(文字標籤)
        #show_food_num
        .field_battle_title 點心值_(文字標籤)
        #show_dessert_num
        #usr_inp_btn_food.ddb98b_button 餵食物
        #usr_inp_btn_dessert.ddb98b_button 餵點心
        #updownleftleftrightright_exp_plus.ddb98b_button 經驗值增加
        #updownleftleftrightright_exp_minus.ddb98b_button 經驗值減少
        #updownleftleftrightright_food_plus.ddb98b_button 食物數值增加
        #updownleftleftrightright_food_minus.ddb98b_button 食物數值減少
        #updownleftleftrightright_dessert_plus.ddb98b_button 點心數值增加
        #updownleftleftrightright_dessert_minus.ddb98b_button 點心數值減少
        .field_battle_title mission_food_(文字標籤)
        #mission_food
        .field_battle_title mission_dessert_(文字標籤)
        #mission_dessert
    footer
      .a_bunch_of_js
        // js
        // jquery
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        // bootstrap
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
        script(src='../modular_folder/pure_txt_no_gui/index.js')
