extends layout

block content_head
    meta(charset='utf8')
    title feed
    link(href='../modular_folder/feed/index.css' rel='stylesheet' type='text/css')

block content_body
    #dont_show_this_in_published_client
      .field_battle_title 9.餵養
      .field_battle_title 經驗值_(文字標籤)
      #show_exp_num
      .field_battle_title 食物值_(文字標籤)
      #show_food_num
      .field_battle_title 點心值_(文字標籤)
      #show_dessert_num
      #usr_inp_btn_food.ddb98b_button(style='background-color: rgb(221, 185, 139); height: 30px; width: auto;') 餵食物
      #usr_inp_btn_dessert.ddb98b_button(style='background-color: rgb(221, 185, 139); height: 30px; width: auto;') 餵點心
      #updownleftleftrightright_exp_plus.ddb98b_button(style='background-color: rgb(221, 185, 139); height: 30px; width: auto;') 經驗值增加
      #updownleftleftrightright_exp_minus.ddb98b_button(style='background-color: rgb(221, 185, 139); height: 30px; width: auto;') 經驗值減少
      #updownleftleftrightright_food_plus.ddb98b_button(style='background-color: rgb(221, 185, 139); height: 30px; width: auto;') 食物數值增加
      #updownleftleftrightright_food_minus.ddb98b_button(style='background-color: rgb(221, 185, 139); height: 30px; width: auto;') 食物數值減少
      #updownleftleftrightright_dessert_plus.ddb98b_button(style='background-color: rgb(221, 185, 139); height: 30px; width: auto;') 點心數值增加
      #updownleftleftrightright_dessert_minus.ddb98b_button(style='background-color: rgb(221, 185, 139); height: 30px; width: auto;') 點心數值減少
      .field_battle_title mission_food_(文字標籤)
      #mission_food
      .field_battle_title mission_dessert_(文字標籤)
      #mission_dessert
    button#exit_button
      img(src='../modular_folder/feed/image/exit_button.svg' width='100%' z-index='3')
    #upper_windows
      img(src='../modular_folder/feed/image/animal1.svg' height='35%' style='margin-top: 30%;')
      #level_block
        div 等級:
        .container_progress_bar
          input#five.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='five')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='five') 5%
          input#twentyfive.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='twentyfive' checked='')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='twentyfive') 25%
          input#fifty.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='fifty')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='fifty') 50%
          input#seventyfive.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='seventyfive')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='seventyfive') 75%
          input#onehundred.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='onehundred')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='onehundred') 100%
          .progress_run
            .progress-bar_run
      #button_block
        button.meal_button.feed_button(style='background-color:#BEE471;') 吃飯
        button.dessert_button.feed_button(style='background-color:#F7F775;') 點心
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='../modular_folder/feed/index.js')
