extends layout

block content_head
    meta(charset='utf8')
    title feed
    link(href='../modular_folder/feed/index.css' rel='stylesheet' type='text/css')

block content_body
    button#exit_button
      img(src='../modular_folder/feed/image/exit_button.svg' width='100%' z-index='3')
    #upper_windows
      img(src='../modular_folder/feed/image/animal1.svg' height='35%' style='margin-top: 30%;')
      #level_block
        div 等級:
        .container_progress_bar
          input#five.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='five')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='five') 5%
          input#twentyfive.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='twentyfive' checked='')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='twentyfive') 25%
          input#fifty.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='fifty')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='fifty') 50%
          input#seventyfive.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='seventyfive')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='seventyfive') 75%
          input#onehundred.radio_run.progress_bar_control_button_this_can_t_be_seen(type='radio' name='progress' value='onehundred')
          label.label_progress_bar.progress_bar_control_button_this_can_t_be_seen(for='onehundred') 100%
          .progress_run
            .progress-bar_run
      #button_block
        button.meal_button.feed_button(style='background-color:#BEE471;') 吃飯
        button.dessert_button.feed_button(style='background-color:#F7F775;') 點心
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='../modular_folder/feed/index.js')
