doctype html
html
  head
    title Welcome
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js')
  body
    canvas#main
    div#ThisIsAIdForYouToAppend
    script(src='/javascripts/pixi_bear2.js')