.glow {
    /*-webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;*/
    text-decoration: underline;
}

@-webkit-keyframes glow {
    from {
        /*text-shadow: 0 0 1vh #fff, 0 0 2vh #fff, 0 0 3vh #e60073, 0 0 4vh #e60073, 0 0 5vh #e60073, 0 0 6vh #e60073, 0 0 7vh #e60073;*/
        text-decoration: underline;
    }
    to {
        /*text-shadow: 0 0 2vh #fff, 0 0 3vh #ff4da6, 0 0 4vh #ff4da6, 0 0 5vh #ff4da6, 0 0 6vh #ff4da6, 0 0 7vh #ff4da6, 0 0 8vh #ff4da6;*/
        text-decoration: underline;
    }
}

.dont_show_this_in_published_client {
    display: none;
}

.usr_inp_comment_txt{
    margin:auto;
}