:root {
    --var_vw: 1vw;
    --var_right_global_displacement: 0vw;
}

.desktop_width_50 {
    width: calc(var(--var_vw)*50);
}

.desktop_width_100 {
    width: calc(var(--var_vw)*100);
}

.desktop_width_60 {
    width: calc(var(--var_vw)*60);
}

.desktop_width_40 {
    width: calc(var(--var_vw)*40);
}

.desktop_width_70 {
    width: calc(var(--var_vw)*70);
}

#show_err_msg_backcolor {
    background-color: #94DE6E;
    position: absolute;
    width: calc(var(--var_vw)*100);
    z-index: 20000;
    height: 100vh;
    display: block;
}