:root {
    --var_vw: 1vw;
    --var_right_global_displacement: 0vw;
}

.desktop_width_50 {
    width: calc(var(--var_vw)*50);
}

.desktop_width_100 {
    width: calc(var(--var_vw)*100);
}

.desktop_width_60 {
    width: calc(var(--var_vw)*60);
}

.desktop_width_40 {
    width: calc(var(--var_vw)*40);
}

.desktop_width_70 {
    width: calc(var(--var_vw)*70);
}

#show_err_msg_backcolor {
    /*background-color: #94DE6E;*/
    position: absolute;
    width: calc(var(--var_vw)*100);
    z-index: 20000;
    height: 100%;
    display: block;
    background: rgb(151, 218, 204);
    background: linear-gradient(180deg, rgba(151, 218, 204, 1) 0%, rgba(148, 222, 110, 1) 65%, rgba(254, 254, 254, 1) 100%);
}

#show_err_msg_simhtml {
    position: absolute;
    width: 100vw;
    /*desktop*/
    z-index: 19999;
    height: 100%;
    display: block;
}

#show_err_msg_pic2 {
    position: absolute;
    bottom: 0;
    z-index: 20002;
    width: calc(var(--var_vw)*100);
}

#show_err_msg_pic1 {
    position: absolute;
    top: 0;
    z-index: 20001;
    width: calc(var(--var_vw)*100);
    height: 100%;
}

#exit_button_copy {
    opacity: 1;
    display: block;
    position: absolute;
    width: 6vh;
    height: 6vh;
    top: 1vh;
    left: calc(var(--var_vw)*1);
    background-color: white;
    border-width: 0vh;
    border-radius: 3.5vh;
    box-shadow: rgb(150 150 150) -1px -1px 3px 2px;
    padding: 0%;
    content: url("/frontend/biggggg/image/exit_button.svg");
    z-index: 20003;
}

#exit_button_copy:active{
    opacity: 0.7;
}

#choose_text_copy {
    z-index: 20004;
    position: absolute;
    font-size: calc(var(--var_vw)*6);
    font-weight: bold;
    letter-spacing:  calc(var(--var_vw)*1);
    text-align: center;
    /*color: #ffffff;*/
    width: calc(var(--var_vw)*100);
    height:  calc(var(--var_vw)*6);
    top: 25%;
    text-shadow: white calc(var(--var_vw)*1/3) calc(var(--var_vw)*1/3) calc(var(--var_vw)*1*2/3);
}

.word_break_break_all{
    word-break: break-all;
    width: calc(var(--var_vw)*100);
}
